body {
	background: #f5f5dc;
}
.jumbotron {
	text-align: center;
	background: url(imgs/los-angeles-skyline.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
#bootstrap-link {
	text-decoration: none;
	color: white;
}
#bootstrap-link:hover {
	text-decoration: underline;
	color: #014c8c;
}
#card-blocks {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.footer {
	text-align: center;
	background-color: #292b2c !important;
	padding-bottom: 5px;
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: 0;
}